VITE_SUPABASE_URL=https://rblelaornwzafyyrnnxs.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJibGVsYW9ybnd6YWZ5eXJubnhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNjM0OTMsImV4cCI6MjEwMTczOTQ5M30.tNbeJUA52iAOwT7JeQTAICZTIpCl5aeypxePTSSowho
